<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhyarrow.myWeb.mapper.StockIndexMapper">
    <select id="getStockIndexList" resultType="com.jhyarrow.myWeb.domain.StockIndex">
    	select * from stock_index  order by stock_code
    </select>
    
    <insert id="addStockIndexDaily" parameterType="com.jhyarrow.myWeb.domain.StockIndexDaily">
    	insert into stock_index_daily(stock_code,stock_name,date,trade_day,open_today,close_today,up,up_per,highest,lowest,volumn,turn_volume,turnover_rate)
    	values(#{stockCode},#{stockName},#{date},#{tradeDay},#{openToday},#{closeToday},#{up},#{upPer},#{highest},#{lowest},#{volumn},#{turnVolume},#{turnoverRate})
    </insert>
    
     <select id="getStockIndexDailyByCode" resultType="com.jhyarrow.myWeb.domain.StockIndexDaily">
    	select * from stock_index_daily  where code = #{stockCode}
    </select>
</mapper>