<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhyarrow.myWeb.mapper.StockMapper">
    <insert id="insertStockList">
    	insert into stock(stock_code,stock_name,com_name) values
    		<foreach collection="list" item="stock" separator=",">
    			(#{stock.stockCode},#{stock.stockName},#{stock.comName})
    		</foreach>
    </insert>
    
    <select id="getStockByCode" resultType="com.jhyarrow.myWeb.domain.Stock">
    	select * from stock  where stock_code = #{stockCode}
    </select>
    
    <select id="getStockList" resultType="com.jhyarrow.myWeb.domain.Stock">
    	select * from stock   order by stock_code
    </select>
    
     <update id="updateStockDaily" parameterType="com.jhyarrow.myWeb.domain.StockDaily">
    	update stock_daily set ema12= #{ema12},ema26= #{ema26},diff = #{diff},dea = #{dea},bar = #{bar},
    	 up_per = #{upPer}, up_level = #{upLevel} where stock_code = #{stockCode} and date = #{date}
    </update>
    
    <select id="getStockDailyList" parameterType="String" resultType="com.jhyarrow.myWeb.domain.StockDaily">
    	select * from stock_daily where stock_code = #{stockCode} order by trade_day
    </select>
    
    <insert id="addStockDaily" parameterType="com.jhyarrow.myWeb.domain.StockDaily">
    	insert into stock_daily(stock_code,stock_name,date,trade_day,open_today,close_today,up,up_per,highest,lowest,volumn,turn_volume,turnover_rate,up_level)
    	values (#{stockCode},#{stockName},#{date},#{tradeDay},#{openToday},#{closeToday},#{up},#{upPer},#{highest},#{lowest},#{volumn},#{turnVolume},#{turnoverRate},#{upLevel})
    </insert>
    
    <select id="getStockDaily" parameterType="com.jhyarrow.myWeb.domain.StockDaily" resultType="com.jhyarrow.myWeb.domain.StockDaily">
    	select * from stock_daily  where stock_code = #{stockCode} and trade_day = #{tradeDay}
    </select>
    
    <select id="getStockDailyListN"  resultType="com.jhyarrow.myWeb.domain.StockDaily">
    	select * from stock_daily  where stock_code = #{stockCode} order by date desc limit #{n}
    </select>
    
    <select id="getStockListSh" resultType="com.jhyarrow.myWeb.domain.Stock">
    	select * from stock where stock_code like '00%'  order by stock_code
    </select>
    
    <select id="getStockListSz" resultType="com.jhyarrow.myWeb.domain.Stock">
    	select * from stock where stock_code like '60%'  order by stock_code
    </select>
    
    <select id="getStockListCy" resultType="com.jhyarrow.myWeb.domain.Stock">
    	select * from stock where stock_code like '30%'  order by stock_code
    </select>
    
    <select id="getStockDailyYesterDay" resultType="com.jhyarrow.myWeb.domain.StockDaily">
    	select * from stock_daily where stock_code = #{stockCode}  order by trade_day desc limit 1,1
    </select>
</mapper>