<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhyarrow.myWeb.mapper.SupportMapper">
	<insert id="addSpiderStockDailyError" parameterType="com.jhyarrow.myWeb.domain.SpiderStockDailyError">
    	insert into spider_stock_daily_error(stock_code,date,trade_day,stock_name) values (#{stockCode},#{date},#{tradeDay},#{stockName})
    </insert>
    
    <insert id="addSpiderStockDailyAllError" parameterType="com.jhyarrow.myWeb.domain.SpiderStockDailyAllError">
    	insert into spider_stock_daily_all_error(stock_code,stock_name,response) values (#{stockCode},#{stockName},#{response})
    </insert>


    <insert id="addSupport" parameterType="com.jhyarrow.myWeb.domain.Support">
    	insert into support(code,name,reason,date,trade_day,up_or_down) values (#{code},#{name},#{reason},#{date},#{tradeDay},#{upOrDown})
    </insert>
    
    <select id="getSupport"  resultType="com.jhyarrow.myWeb.domain.Support">
    	select * from support where up_or_down = '涨' order by date desc
    </select>
    
    <select id="getSupportList" parameterType="int" resultType="com.jhyarrow.myWeb.domain.Support">
    	select * from support where trade_day = #{tradeDay}
    </select>
    
    <update id="updateSupport" parameterType="com.jhyarrow.myWeb.domain.Support">
    	update support set is_true = #{isTrue},up=#{up} where id =#{id}
    </update>
    
    
    <insert id="addLine" parameterType="com.jhyarrow.myWeb.domain.Line">
    	insert into line(stock_code,start_day,end_day,start_price,end_price,up_per) 
    		values(#{stockCode},#{startDay},#{endDay},#{startPrice},#{endPrice},#{upPer})
    </insert>
    
    <insert id="addSupportGoldenNeedle" parameterType="com.jhyarrow.myWeb.domain.support.SupportGoldenNeedle">
    	insert into support_golden_needle(stock_code,stock_name,date,trade_day) values(
    		#{stockCode},#{stockName},#{date},#{tradeDay})
    </insert>
    
    <select id="getSupportGoldenNeedle" parameterType="Integer" resultType="com.jhyarrow.myWeb.domain.support.SupportGoldenNeedle">
    	select * from support_golden_needle where trade_day = #{tradeDay}
    </select>
    
    <select id="getSupportGoldenNeedleList" resultType="com.jhyarrow.myWeb.domain.support.SupportGoldenNeedle">
    	select * from support_golden_needle order by stock_code,date
    </select>
    
    <update id="updateSupportGoldenNeedle" parameterType="com.jhyarrow.myWeb.domain.support.SupportGoldenNeedle">
    	update support_golden_needle set max_day1 = #{maxDay1}, max_day3 = #{maxDay3},max_day5 = #{maxDay5},
    		 min_day1 = #{minDay1},  min_day3 = #{minDay3},  min_day5 = #{minDay5} ,close_day1 = #{closeDay1} 
    		 ,close_day3 = #{closeDay3} ,close_day5 = #{closeDay5} ,up_per1 = #{upPer1} ,up_per3 = #{upPer3} ,up_per5 = #{upPer5} 
    		 where stock_code = #{stockCode} and date = #{date}
    </update>
    
    <select id="getSpiderStockDailyErrorList" resultType="com.jhyarrow.myWeb.domain.SpiderStockDailyError">
    	select * from spider_stock_daily_error
    </select>
    
    <delete id="deleteSpiderStockDailyError" parameterType="com.jhyarrow.myWeb.domain.SpiderStockDailyError">
    	delete from spider_stock_daily_error where stock_code = #{stockCode} and date = #{date}
    </delete>
    
    <select id="getSpiderStockDailyAllErrorList" resultType="com.jhyarrow.myWeb.domain.SpiderStockDailyAllError">
    	select * from spider_stock_daily_all_error
    </select>
    
    <delete id="deleteSpiderStockDailyAllError" parameterType="com.jhyarrow.myWeb.domain.SpiderStockDailyAllError">
    	delete from spider_stock_daily_all_error where stock_code = #{stockCode}
    </delete>
    
     <insert id="addSupportMacd" parameterType="com.jhyarrow.myWeb.domain.support.SupportMacd">
    	insert into support_macd(stock_code,stock_name,start_day,end_day,start_price,end_price,up_per) 
    	values (#{stockCode},#{stockName},#{startDay},#{endDay},#{startPrice},#{endPrice},#{upPer})
    </insert>
    
    <insert id="addSupportKdj" parameterType="com.jhyarrow.myWeb.domain.support.SupportKdj">
    	insert into support_kdj(stock_code,stock_name,start_day,end_day,start_price,end_price,up_per) 
    	values (#{stockCode},#{stockName},#{startDay},#{endDay},#{startPrice},#{endPrice},#{upPer})
    </insert>
</mapper>