<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhyarrow.myWeb.mapper.SupportMapper">

    <insert id="addSupport" parameterType="com.jhyarrow.myWeb.domain.Support">
    	insert into support(code,name,reason,date) values (#{code},#{name},#{reason},#{date})
    </insert>
    
    <select id="getSupport" parameterType="String" resultType="com.jhyarrow.myWeb.domain.Support">
    	select * from support where date = #{date}
    </select>
</mapper>