<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhyarrow.myWeb.mapper.TradeDayMapper">
    <select id="getTradeDayList" resultType="com.jhyarrow.myWeb.domain.TradeDay">
    	select * from trade_day
    </select>
    
    <select id="getTradeDayByDate" parameterType="String" resultType="Integer" >
    	select trade_day from trade_day where date = #{date}
    </select>
</mapper>