<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhyarrow.myWeb.mapper.TradeDayMapper">
    <select id="getTradeDayList" resultType="com.jhyarrow.myWeb.domain.TradeDay">
    	select * from trade_day
    </select>
    
    <select id="getTradeDayByDate" parameterType="String" resultType="Integer" >
    	select trade_day from trade_day where date = #{date}
    </select>
    
    <select id="getTradeDayByTradeDay" parameterType="Integer" resultType="String" >
    	select date from trade_day where trade_day = #{tradeDay}
    </select>
    
    <update id="truncateTradeDay">
    	truncate table trade_day
    </update>
    
    <insert id="addTradeDay">
    	insert into trade_day select b.date,(@rowno:=@rowno+1)rowno from (select date from stock_daily group by date order by date) b ,(select @rowno:=0)  t2 
    </insert>
</mapper>